html, body {
  background-image: url(graphic_assets/UnethicalRoadLab.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-color: #D966A6;
  background-size: 100% 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: -webkit-grab; cursor:-moz-grab; 
}

img.toggle_fs {
  position: fixed;
  top: 0;
  right: 0;
  width: 90px;
  height: 87px;
  cursor: nesw-resize;
}
